<header>
    <div class="HeaderBar">
        <button (click)="BackToHomePage()" id="GoBack" mat-icon-button>
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    </div>
    <div class="Shadow"></div>
</header>
<main>
    <div class="banner">
        <img [src]="GameSelected?.backgroundImageLink">
        @if (GameSelected?.backgroundImageLink == "" || GameSelected?.backgroundImageLink == undefined) {
            <button mat-icon-button matTooltip="Adicione um banner" class="BannerChange" (click)="AddBanner()"> <mat-icon>add</mat-icon></button>
        }
        @else {
            <button mat-icon-button matTooltip="Troque o banner" class="BannerChange" (click)="EditBanner()"> <mat-icon>edit</mat-icon></button>
        }
    </div>
    <nav>
        <div class="gameTitle">{{GameSelected?.gameName}}</div>
        <div class="stars"></div>
        <button mat-raised-button>editar</button>
    </nav>
    <div class="content">
        <div class="review">Review: <br><i>{{GameSelected?.review}}</i></div>
        
    </div>
    
    <div class="gameImage">
        <img src="{{GameSelected?.gameImageUrl}}" width="265px" height="394px">
    </div>
</main>
